<?xml version="1.0" encoding="UTF-8"?>

<suite name="botwebsockettest-suite" parallel="false">

<parameter name="socketurl" value="https://staging.msg.botcentralapi.com"/>
<parameter name="filename" value="reqresfile.txt"/>
<parameter name="botid" value="d41ad299e0ecf5bb1bfc4c79c8f0dfcfe445aad3"/>
<test name="chatserverconenction" preserve-order="true" >

  <classes>
   
    <class name="com.liveperson.websockettest">
      <methods>
        <include name="testConnection" />
        <include name="testSendMessage" />
      </methods>
    </class>
 
 
  </classes>
</test>
</suite>